In [2]:
import pandas as pd
# Create a DataFrame with your data
data = {
    'S.No': range(1, 14),
    'Experience': [4.5, 9, 3.6, 8, 1, 12, 4, 5.5, 2.3, 1.9, 9.5, 14, 3],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male'],
    'Role': ['Sr.Executive', 'Manager', 'Sr.Executive', 'Sr.Executive', 'Executive', 'Sr.Manager', 'Sr.Executive', 'Manager', 'Executive', 'Executive', 'Manager', 'Sr.Manager', 'Executive'],
    'Salary': [1000000, 1258000, 908000, 840000, 500000, 1500000, 800000, 1250000, 550000, 630000, 1100000, 1630000, 600000]
}

df = pd.DataFrame(data)
df

    S.No  Experience  Gender          Role   Salary
0      1         4.5  Female  Sr.Executive  1000000
1      2         9.0    Male       Manager  1258000
2      3         3.6    Male  Sr.Executive   908000
3      4         8.0    Male  Sr.Executive   840000
4      5         1.0  Female     Executive   500000
5      6        12.0  Female    Sr.Manager  1500000
6      7         4.0    Male  Sr.Executive   800000
7      8         5.5  Female       Manager  1250000
8      9         2.3    Male     Executive   550000
9     10         1.9    Male     Executive   630000
10    11         9.5  Female       Manager  1100000
11    12        14.0    Male    Sr.Manager  1630000
12    13         3.0    Male     Executive   600000

### Z-Test

In [3]:
from statsmodels.stats.weightstats import ztest
import pandas as pd



# Filter salaries for male and female
male_salaries = df[df['Gender'] == 'Male']['Salary']
female_salaries = df[df['Gender'] == 'Female']['Salary']

# Perform z-test
z_stat, p_value = ztest(male_salaries, female_salaries)

print("Z-test p-value:", p_value)

# Final insights
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference between male and female salaries.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between male and female salaries.")

Z-test p-value: 0.42609980717593043
Fail to reject the null hypothesis. There is no significant difference between male and female salaries.

### T-Test

In [ ]:
from scipy.stats import ttest_ind


# Perform t-test
t_stat, p_value = ttest_ind(male_salaries, female_salaries)

print("T-test p-value:", p_value)

# Final insights
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference between male and female salaries.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between male and female salaries.")

In [ ]:
from scipy.stats import ttest_rel
from numpy.random import randn
# seed the random number generator
seed(1)
# generate two independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 51

#Calculate the t-test on TWO RELATED samples of scores.

#This is a two-sided test for the null hypothesis that 2 related or repeated samples have identical
# average (expected) values.

# compare samples
stat, p = ttest_rel(data1, data2)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
    print('Same distributions (fail to reject H0)')
else:
    print('Different distributions (reject H0)')

### One-way Anova

In [ ]:
from scipy.stats import f_oneway

# Perform one-way ANOVA
anova_stat, p_value = f_oneway(
    df[df['Role'] == 'Sr.Executive']['Salary'],
    df[df['Role'] == 'Manager']['Salary'],
    df[df['Role'] == 'Executive']['Salary'],
    df[df['Role'] == 'Sr.Manager']['Salary']
)

print("ANOVA p-value:", p_value)

# Final insights
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in salaries among different roles.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in salaries among different roles.")

### Chi-Square

In [ ]:
import pandas as pd


# Create a new dataset
data = {
    'Education': ['High School', 'College', 'High School', 'College', 'College', 'Graduate', 'Graduate', 'High School', 'Graduate', 'College'],
    'Employment_Status': ['Unemployed', 'Employed', 'Employed', 'Unemployed', 'Employed', 'Employed', 'Unemployed', 'Employed', 'Employed', 'Unemployed'],
    'Experience': [2, 5, 3, 1, 4, 6, 2, 7, 4, 1],
    'Income_Level': ['Low', 'Medium', 'Medium', 'Low', 'High', 'High', 'Low', 'Medium', 'High', 'Low']
}

df = pd.DataFrame(data)
df

In [ ]:


# Map categorical variables to numerical values
education_mapping = {'High School': 1, 'College': 2, 'Graduate': 3}
employment_mapping = {'Unemployed': 0, 'Employed': 1}
income_mapping = {'Low': 0, 'Medium': 1, 'High': 2}

df['Education'] = df['Education'].map(education_mapping)
df['Employment_Status'] = df['Employment_Status'].map(employment_mapping)
df['Income_Level'] = df['Income_Level'].map(income_mapping)

df

In [ ]:
from sklearn.feature_selection import SelectKBest, chi2

# Apply SelectKBest with chi2 test
selector = SelectKBest(score_func=chi2, k=2)
selector.fit(df[['Education', 'Employment_Status', 'Experience']], df['Income_Level'])

# Get indices of selected features
selected_indices = selector.get_support(indices=True)

# Get names of selected features
selected_features = [df.columns[i] for i in selected_indices]

print("Selected features:", selected_features)